        <!--Produce a parallax effect -->
        <span id="parallaxOne">
            <div class="mediumcloud" style="left: 500px; top: 50px">  
            </div>
            
            <div class="mediumcloud" style="left: 1000px; top: 500px">         
            </div>
            
            <div class="mediumcloud" style="left: 1500px; top: 100px">    
            </div>
            
            <div class="mediumcloud" style="left: 200px; top: 800px"> 
            </div>  
            
            <div class="mediumcloud" style="left: 0px; top: -100px">   
            </div>              
        </span>

        <span id="parallaxTwo">
            <div class="smallcloud" style="left: -500px; top: -600px">                
            </div>
            
            <div class="smallcloud" style="left: 1000px; top: 200px">                
            </div>
            
            <div class="smallcloud" style="left: -200px; top: -400px">                
            </div>
            
            <div class="smallcloud" style="left: 800px; top: -100px">                
            </div>
            
            <div class="smallcloud" style="left: 0px; top: 600px">                
            </div>         
        </span>